@use '../styles/colors';
@use '../styles/text';

.app {
  width: 100vw;
  height: 100vh;
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.block {
  width: 100px;
  height: 100px;
  background-color: colors.$text-color-dark;
  margin: auto;
}

body {
  text: {
    align: center;
  }
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.sans-font {
  font-family: text.$sans;
}
.roboto-font {
  font-family: text.$roboto;
}
.monospace-font {
  font-family: text.$monospace;
}
.red-color {
  background-color: colors.$color-red;
}
.blue-color {
  background-color: colors.$color-blue;
  color: colors.$text-color-light;
}
.purple-color {
  background-color: colors.$color-purple;
  color: colors.$text-color-light;
}
