@use '../styles/colors';
@use '../styles/text';

.menu {
  display: flex;
  border-radius: 30px;
  background-color: colors.$block-color;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin: auto;
  width: 320px;
  padding: 0 6px;
  input[type="radio"] {
    display: none;
  }
}
.menu__item {
  color: colors.$text-color-dark;
  background-color: colors.$block-color;
  font-size: 12px;
  font-weight: bold;
  text: {
    transform: lowercase;
    align: center;
  }
  display: flex;
  height: 75%;
  width: 34%;
}

.menu__item .item__text {
  margin: auto;
  opacity: 40%;
}

input[type="radio"]:checked + .menu__item {
  color: colors.$text-color-light;
  border-radius: 25px;
  .item__text {
    margin: auto;
    opacity: 100%;
  }
}
input[type="radio"]:checked + .red-color {
  background-color: colors.$color-red;
}
input[type="radio"]:checked + .blue-color {
  background-color: colors.$color-blue;
}
input[type="radio"]:checked + .purple-color {
  background-color: colors.$color-purple;
}
