@use 'styles/_colors.scss';
@use 'styles/_text.scss';
.title {
  color: colors.$text-color-dark;
  font: {
    size: 28px;
    weight: bold;
  }

  text: {
    transform: lowercase;
    align: center;
  }
  margin: 0;
}
