@use 'styles/_colors.scss';
@use 'styles/_text.scss';

.menu {
  display: flex;
  border-radius: 30px;
  background-color: colors.$block-color;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin: auto;
  width: 320px;
  padding: 0 6px;
}
.menu__item {
  color: colors.$text-color-dark;
  font-size: 12px;
  font-weight: bold;
  text: {
    transform: lowercase;
    align: center;
  }
  display: flex;
  height: 75%;
  width: 34%;
}

.menu__item .item__text {
  margin: auto;
  opacity: 40%;
}

.menu__item_active .item__text {
  margin: auto;
  opacity: 100%;
}
.menu__item_active {
  color: colors.$text-color-light;
  background-color: colors.$color-red;
  border-radius: 25px;
}
